.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.phase-count-block {
    max-width: 300px;
}

.phase-count-input {
    text-align: center;
}


.field-block {
    margin-bottom: 1rem;
}

.card {
    margin-top: 2rem;
}


.one-field-blocks-container {  }


.phase-deps-container {  }

.phase-deps-block {
}
