.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}


.header {
    align-content: center;
    align-items: center;
    background-color: rgb(236, 244, 245);
    border-bottom: 1px solid rgba(64, 113, 204, 0.589);
    display: flex;
    height: 80px;
    justify-content: center;
}


.phase-count-block {
    max-width: 300px;
}

.phase-count-input {
    text-align: center;
}


.one-field-blocks-container,
.phase-deps-container {
    width: 100%;
}

.field-block {
    margin-bottom: 1rem;
    width: 100%;
}

.card {
    margin-top: 2rem;
}


.link {
    cursor: pointer;
}


/* Field is invalid. Applied on errors checking in calcClickHandler.js */
.invalid {
    border-color: #dc3545;
}
.invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}


/* Bootstrap tooltip fix */

.tooltip-inner {
    max-width: 500px;
    white-space: pre-wrap;
}
